<div class="w-full">

  <% content_for :title, "Animal types" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Animal types</h1>
    <%= link_to "New animal type", new_animal_type_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="animal_types" class="min-w-full">
    <%= render 'type_list' %>
  </div>
</div>
