<div class="w-full">

  <% content_for :title, t('text.types') %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t('text.Animal Types') %></h1>
    <%= link_to t('menu.new'), new_animal_type_path, class: "primary_button" %>
  </div>

  <div id="animal_types" class="min-w-full">
    <%= render 'type_list' %>
  </div>
</div>
