<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @animal_type %>

    <%= link_to "Edit this animal type", edit_animal_type_path(@animal_type), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to animal types", animal_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this animal type", @animal_type, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
