<div id="<%= dom_id procedure_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= procedure_type.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= procedure_type.description %>
  </p>

</div>
