<%= turbo_frame_tag "cart" do %>
  <h1><%= t('text.cart') %></h1>
  <% if @cart && @cart&.cart_animals&.count > 0 %>
    <%= render "cart/cart_animals" %>
  <% else %>
    <p><%= t('text.Your cart is empty') %></p>
  <% end %>
<% end %>
