<%= turbo_frame_tag "cart" do %>
  <h1>Cart</h1>
  <% if @cart && @cart&.cart_animals&.count > 0 %>
    <%= render "cart/cart_animals" %>
    <p>Total: <%= @cart.cart_animals.count %></p>
  <% else %>
    <p>Your cart is empty</p>
  <% end %>
<% end %>
