<div class="w-full">

  <% content_for :title, "Medical procedures" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Medical procedures</h1>
    <%= link_to "New medical procedure", new_medical_procedure_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= turbo_frame_tag "medical_procedures" do %>
    <div class="min-w-full mb-10" id="procedures_listing">
      <%= render 'procedure_list' %>
    </div>
  <% end %>
</div>
