<div class="mx-auto w-full">
  <div class="mx-auto">
    <h1>Medical Procedure</h1>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
      <div>
        <%= render @medical_procedure %>
      </div>
      <div class="lg:flex lg:flex-col place-items-end whitespace-nowrap">
        <div>
          <%= link_to "Edit", edit_medical_procedure_path(@medical_procedure), class: "primary_button" %>
        </div>
        <div>
          <%= link_to medical_procedure_path(@medical_procedure), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete} do %>
            <span class="tertiary_button">
              <i class="fa fa-times" aria-hidden="true"></i>
              Delete
            </span>
          <% end %>
        </div>
          <div>
            <%= link_to medical_procedures_path do %>
              <span class="tertiary_button">
                <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                Back to Medical Procedures
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
