<footer class='fixed bottom-0 w-full inset-x-0 bg-white border-t border-gray-200'>
  <div class="text-sm w-screen mb-2">
    <div class='flex justify-center tracking-tighter'>
      Copyright <%= Time.now.year %>
    </div>
  </div>
</footer>
