<div id="<%= dom_id aviary %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Sections:</strong>
    <%= aviary.sections %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= aviary.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= aviary.description %>
  </p>

</div>
